<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MSE WebM test</title>
  </head>
  <body>
    <video id="webmStream" controls=""></video>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
      
      const streamVideo = document.getElementById("webmStream");
      const mediaSource = new MediaSource();
      const streamSource = URL.createObjectURL(mediaSource);
      streamVideo.src = streamSource;

      const audioMime = `audio/webm; codecs="opus"`;
      const videoMime = `video/webm; codecs="vp9"`;

      mediaSource.addEventListener("sourceopen", () => {
        const audioBuffer = mediaSource.addSourceBuffer(audioMime);
        const videoBuffer = mediaSource.addSourceBuffer(videoMime);
        const audioChunks = [];
        const videoChunks = [];

        socket.on("audio-data", (chunk) => {
          if (!audioBuffer.updating && !audioChunks.length) {
            audioBuffer.appendBuffer(chunk);
          } else {
            audioChunks.push(chunk);
          }
        });

        socket.on("video-data", (chunk) => {
          if (!videoBuffer.updating && !videoChunks.length) {
            videoBuffer.appendBuffer(chunk);
          } else {
            videoChunks.push(chunk);
          }
        });

        audioBuffer.addEventListener("updateend", () => {
          if (audioChunks.length) audioBuffer.appendBuffer(audioChunks.shift());
        });

        videoBuffer.addEventListener("updateend", () => {
          if (videoChunks.length) videoBuffer.appendBuffer(videoChunks.shift());
        });
      });
    </script>
  </body>
</html>